<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - CitricosCaribe</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <meta charset="utf-8" />  
    <meta name="viewport" content="width=device-width, initial-scale=1.0">  
    <title>@ViewBag.Title - My ASP.NET Application</title>  
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />  
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />  
    <script src="~/Scripts/modernizr-2.6.2.js"></script> 
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">CitricosCaribe</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item dropdown text-black-50">
                            <a class = "nav-link dropdown-toggle" href="#" id="navbarDropDownMenuLink" role = "button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Manejar datos
                            </a>
                            <div class ="dropdown-menu" aria-labelledby="navbarDropDownMenuLink">
                                <a class="dropdown-item" asp-area="" asp-controller="Producto" asp-action="Index"> Productos</a>
                                <a class="dropdown-item" asp-area="" asp-controller="Empresa" asp-action="Index"> Empresas </a>
                                <a class="dropdown-item" asp-area="" asp-controller="EmpresaNacional" asp-action="Index"> Empresas Nacionales</a>
                                <a class="dropdown-item" asp-area="" asp-controller="EmpresaExtranjera" asp-action="Index"> Empresas Extranjeras</a>
                                <a class="dropdown-item" asp-area="" asp-controller="Vehiculo" asp-action="Index"> Vehiculos</a>
                                <a class="dropdown-item" asp-area="" asp-controller="Medio" asp-action="Index"> Medios</a>
                                <a class="dropdown-item" asp-area="" asp-controller="BaseTransporte" asp-action="Index"> Bases de Transportes</a>
                                <a class="dropdown-item" asp-area="" asp-controller="Trabajador" asp-action="Index"> Trabajadores</a>
                                <a class="dropdown-item" asp-area="" asp-controller="Direccion" asp-action="Index"> Direcciones</a>
                                <a class="dropdown-item" asp-area="" asp-controller="Frigorifico" asp-action="Index"> Frigorificos</a>
                            </div>
                        </li>
                        <li class="nav-item dropdown text-black-50">
                            <a class = "nav-link dropdown-toggle" href="#" id="navbarDropDownMenuLink" role = "button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Acciones
                            </a>
                             <div class ="dropdown-menu" aria-labelledby="navbarDropDownMenuLink">
                                <a class="dropdown-item" asp-area="" asp-controller="VehiculoAsignado" asp-action="Index"> Vehiculos Asignados</a>
                                <a class="dropdown-item" asp-area="" asp-controller="MedioAsignado" asp-action="Index"> Medios Asignados</a>
                                <a class="dropdown-item" asp-area="" asp-controller="TipoDireccionTrabajador" asp-action="Index"> Direcciones a los que pertenecen los Trabajadores</a>
                                <a class="dropdown-item" asp-area="" asp-controller="TipoDireccionBaseTransporte" asp-action="Index"> Direcciones a los que pertenecen las Bases de Transportes</a>
                                <a class="dropdown-item" asp-area="" asp-controller="TipoDireccionFrigorifico" asp-action="Index"> Direcciones a los que pertenecen los Frigorifico</a>
                                <a class="dropdown-item" asp-area="" asp-controller="Solicitud" asp-action="Index"> Manejar Solicitudes</a>
                                <a class="dropdown-item" asp-area="" asp-controller="Pedido" asp-action="Index"> Manejar Pedidos</a>
                                <a class="dropdown-item" asp-area="" asp-controller="Oferta" asp-action="Index"> Manejar Ofertas</a>
                                <a class="dropdown-item" asp-area="" asp-controller="ContratoCompraInternacional" asp-action="Index"> Manejar Contratos de Compras Internacionales</a>
                                <a class="dropdown-item" asp-area="" asp-controller="ContratoVentaNacional" asp-action="Index"> Manejar Contratos de Ventas Nacionales</a>
                             </div>
                            
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2020 - CitricosCaribe - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    
    @RenderSection("Scripts", required: false)


</body>
</html>
