@model CitricosCaribe.Models.ContratoVentaNacional

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>ContratoVentaNacional</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="EmpresaID" class="control-label"></label>
                <select asp-for="EmpresaID" class ="form-control" asp-items="ViewBag.EmpresaID"></select>
            </div>
            <div class="form-group">
                <label asp-for="TrabajadorID" class="control-label"></label>
                <select asp-for="TrabajadorID" class ="form-control" asp-items="ViewBag.TrabajadorID"></select>
            </div>
            <div class="form-group">
                <label asp-for="ProductoID" class="control-label"></label>
                <select asp-for="ProductoID" class ="form-control" asp-items="ViewBag.ProductoID"></select>
            </div>
            <div class="form-group">
                <label asp-for="FechaSolicitud" class="control-label"></label>
                <input asp-for="FechaSolicitud" class="form-control" />
                <span asp-validation-for="FechaSolicitud" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FechaContrato" class="control-label"></label>
                <input asp-for="FechaContrato" class="form-control" />
                <span asp-validation-for="FechaContrato" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DeUnaParte" class="control-label"></label>
                <input asp-for="DeUnaParte" class="form-control" />
                <span asp-validation-for="DeUnaParte" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DeLaOtraParte" class="control-label"></label>
                <input asp-for="DeLaOtraParte" class="form-control" />
                <span asp-validation-for="DeLaOtraParte" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DeAmbasPartes" class="control-label"></label>
                <input asp-for="DeAmbasPartes" class="form-control" />
                <span asp-validation-for="DeAmbasPartes" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ObjetoDelContrato" class="control-label"></label>
                <input asp-for="ObjetoDelContrato" class="form-control" />
                <span asp-validation-for="ObjetoDelContrato" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TipoPago" class="control-label"></label>
                <input asp-for="TipoPago" class="form-control" />
                <span asp-validation-for="TipoPago" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DineroGanadoUSD" class="control-label"></label>
                <input asp-for="DineroGanadoUSD" class="form-control" />
                <span asp-validation-for="DineroGanadoUSD" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CamposOtros" class="control-label"></label>
                <input asp-for="CamposOtros" class="form-control" />
                <span asp-validation-for="CamposOtros" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
