@model CitricosCaribe.Models.ContratoCompraNacional

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>ContratoCompraNacional</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="EmpresaID" />
            <input type="hidden" asp-for="TrabajadorID" />
            <input type="hidden" asp-for="ProductoID" />
            <input type="hidden" asp-for="FechaPedido" />
            <input type="hidden" asp-for="FechaContrato" />
            <div class="form-group">
                <label asp-for="DeUnaParte" class="control-label"></label>
                <input asp-for="DeUnaParte" class="form-control" />
                <span asp-validation-for="DeUnaParte" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DeLaOtraParte" class="control-label"></label>
                <input asp-for="DeLaOtraParte" class="form-control" />
                <span asp-validation-for="DeLaOtraParte" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DeAmbasPartes" class="control-label"></label>
                <input asp-for="DeAmbasPartes" class="form-control" />
                <span asp-validation-for="DeAmbasPartes" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ObjetoDelContrato" class="control-label"></label>
                <input asp-for="ObjetoDelContrato" class="form-control" />
                <span asp-validation-for="ObjetoDelContrato" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TipoPago" class="control-label"></label>
                <input asp-for="TipoPago" class="form-control" />
                <span asp-validation-for="TipoPago" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DineroGanadoUSD" class="control-label"></label>
                <input asp-for="DineroGanadoUSD" class="form-control" />
                <span asp-validation-for="DineroGanadoUSD" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CamposOtros" class="control-label"></label>
                <input asp-for="CamposOtros" class="form-control" />
                <span asp-validation-for="CamposOtros" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
